<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link para bootstrap local -->
    <link rel="stylesheet" href="../static/bootstrap-5.3.3-dist/bootstrap/css/bootstrap.css">
    <!-- link para css própio -->
    <link rel="stylesheet" href="../static/style.css">
    <title>{% block title%} {% endblock %}</title>
</head>

<body class="d-flex flex-column">
   
    <header>
        {% include "header.html" %}
    </header>

    <main class="container-fluid mt-5 flex-fill p-0">
        {% block content %}
        {% endblock %}
    </main>

    
    <footer class="bg-light text-center py-3 mt-5">
        © 2024 EmpreGO!
    </footer>
    <script src="../static/bootstrap-5.3.3-dist/bootstrap/js/bootstrap.js"></script>
</body>

</html>